@import url("_images.css");

* {
  font-family: 'Lato' !important;
}
.hr-sm {
  width:200px;
  border-top: 1px solid #9c9c9c;
}
.container {
  max-width: 700px;
}
p {
  font-size:1.7rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height:1.78;
}
h1 {
  font-size:5rem;
  font-weight:700;
  margin-top: 50px;
  margin-bottom: 50px;
}

h3 {
  font-size:3rem;
  max-width:700px;
  font-weight:600;
}

h4 {
  font-size:2.5rem;
  max-width:700px;
  font-weight:600;
}
h5 {
  font-size:2.2rem;
  max-width:700px;
  font-weight:600;
}